$black: #141414;
$white: #ffffff;

$charcoal: #333333;

$grey: #acacac;

$eggshell: #f9f9f9;

$purple: #9a46fa;
$purple--mid: darken($purple, 15%);
$purple--dark: darken($purple, 25%);

$orange: #FE9000;
