$black: #141414;
$white: #ffffff;

$charcoal: #333333;

$grey: #acacac;
$grey--mid: darken($grey, 25%);
$grey--dark: darken($grey, 35%);

$eggshell: #f9f9f9;

$purple: #9a46fa;
$purple--mid: darken($purple, 15%);
$purple--dark: darken($purple, 25%);

$orange: #fe9000;
