// Generic body copy
.generic-content {

    @include mode("enhancements") {
        max-width: 75ch;
        font-weight: 300;
        font-size: 1.2rem;
        line-height: 1.7;
        hyphens: auto;
        
        // Headings
        h3 {
          @extend %heading--secondary;  
        }

        code {
            background: white;
            color: $purple--dark;
            padding: 2px;
        }

        // An image that has no class should be floated left and given breathing room
        img:not([class]) {
            float: left;
            margin: 9px 22px 0 0;
            max-width: 200px;
            border-radius: $radius--mini;
        }

        // List styles

        ul, ol {
            padding-left: $gutter--midi;

            > li + li {
                padding-top: $rhythm;
            }
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }
    }
}
