// Generic body copy
.generic-content {

    @include mode("global") {
        
        // An image that has no class should be floated left and given breathing room
        img:not([class]) {
            float: left;
            margin: 9px 22px 0 0;
            max-width: 200px;
            border-radius: $radius--mini;
        }
    }

    @include mode("enhancements") {
        max-width: 75ch;
        font-weight: 400;
        color: $charcoal;
       
        @include font-size(18px, true, false, $body-copy-line-height-ratio);

        @include media-query("lap-and-up") {
            @include font-size(20px, true, false, $body-copy-line-height-ratio);
        }

        // Headings
        h3 {
            @extend %heading--secondary;  

            color: $black;
        }

        // Inline code
        code {
            background: white;
            color: $purple--dark;
            padding: 2px;
        }

        // Code block
        pre {
            @include selection($white, $black);
        }
        
        pre code {
            display: block;
            background: $charcoal;
            color: $eggshell;
            padding: $gutter;
            border-radius: $radius--mini;

            @include bounce-scroll("horizontal");
        }

        // List styles

        ul, ol {
            padding-left: $gutter--midi;

            > li + li {
                padding-top: $rhythm;
            }
        }

        ul {
            list-style: disc;
        }

        ol {
            list-style: decimal;
        }

        // Make blockquotes pretty
        blockquote {
            margin: $rhythm--double 0 0 0;
            padding-left: $gutter;
            padding-bottom: $gutter;
            border-left: 5px solid $orange;

            > * + * {
                margin-top: $gutter--mini;
            }
        }

        // Give an article footer some breathing room
        footer {
            padding-top: $gutter--treble;
            font-style: italic;
        }
    }
}
