.nav {
    
    @include mode("global") {
        
        &__list {
            white-space: nowrap;
            letter-spacing: -0.32em;
            width: 100%;
            position: relative;

            @include bounce-scroll("horizontal");
        }

        &__item {
            display: inline-block;
            letter-spacing: normal;
        }

        &__link {
            @extend %clickable;

            text-transform: uppercase;
            text-decoration: none;
            color: $charcoal;
            font-weight: 400;

            @include hover() {
                color: $purple;
            }

            &.is-active {
                color: $purple;
                font-weight: 500;
            }
        }
    }
}
