.post-list {
    
    &__heading {
        
        a {
            text-decoration: none;
            color: $purple--mid;

            @include hover() {
                color: $purple;
            }
        }
    }

    &__summary {
        max-width: $max-line-length;
    }
}
