<!DOCTYPE html>
<html dir="ltr" lang="en-GB" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        <title>{{ site.title }} - {{ page.title }}</title>

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="stylesheet" href="{{ site.asset_base }}/css/global.css?{{ site.asset_version }}" media="all" />
    </head>
    <body>
        <div class="is-hidden" aria-hidden="true" role="presentation">
            {% include svg/svg-symbols.svg %}
        </div>

        {% include partials/site-head.html %}

        <div class="wrapper">
            {% include partials/splitter.html %}
            
            <main id="main-content">
                {{ content }}
            </main>

            {% include partials/splitter.html %}
        </div>

        {% include partials/site-foot.html %}
        
        <script>
            window._ASSET_BASE = '{{ site.asset_base }}';
            window._ASSET_VERSION = '{{ site.asset_version }}';
        </script>
        <script src="{{ site.asset_base }}/scripts/app.js?{{ site.asset_version }}" async></script>
    </body>
</html>
